{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ss-hub</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">&nbsp;</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
         
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'affiliate/images/XCM_Manual_1209672_1068x260_.jpg' %}')">
          <a href="https://www.amazon.in/tryprime?tag=8926684406-21" style="width:100%;" target="-_blank">
            <div class="carousel-caption d-none d-md-block">
               <h3>&nbsp;</h3>
            </div>
          </a>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/Earnbounty2_1068_260_0208.jpg' %}')">
           <a href="https://www.amazon.in/tryab?tag=8926684406-21" target="-_blank">
            <div class="carousel-caption d-none d-md-block" style="width:100%;">
               <h3>&nbsp;</h3>
            </div>
           </a>
          
        </div>

        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/Amazon_Audible_1068x260.jpg' %}')">
          <a href="https://www.amazon.in/dp/B077S5CVBQ/?ref=assoc_tag_sept19?actioncode=AINOTH066082819002X&tag=8926684406-21" target="-_blank">
            <div class="carousel-caption d-none d-md-block" style="width:100%;">
               <h3>&nbsp;</h3>
            </div>
          </a>
        </div>

        
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container-fluid">
    <div class="row">
       <div class="col-lg-12">
          <h2 class="my-3">Directly purchase from amazon.in</h2>
          <div class="row mb-4">
            <div class="col-md-3">
              <a target="_blank" href="https://www.amazon.in/gp/search?ie=UTF8&tag=8926684406-21&linkCode=ur2&linkId=c38080f3ac6898eebeab6ea56e09d08d&camp=3638&creative=24630&index=aps&keywords=saree" class="btn btn-lg btn-secondary btn-block">Purchase Sarees</a><img src="//ir-in.amazon-adsystem.com/e/ir?t=8926684406-21&l=ur2&o=31" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            </div>
            <div class="col-md-3">
              <a target="_blank" href="https://www.amazon.in/gp/search?ie=UTF8&tag=8926684406-21&linkCode=ur2&linkId=386c6e6044466b60213663d0a5850132&camp=3638&creative=24630&index=aps&keywords=kurti" class="btn btn-lg btn-secondary btn-block">Purchase Kurtis</a><img src="//ir-in.amazon-adsystem.com/e/ir?t=8926684406-21&l=ur2&o=31" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

            </div>
            <div class="col-md-3">
              <a target="_blank" href="https://www.amazon.in/gp/search?ie=UTF8&tag=8926684406-21&linkCode=ur2&linkId=73896f47db778784a5b4904f8eef2484&camp=3638&creative=24630&index=aps&keywords=furniture" class="btn btn-lg btn-secondary btn-block">Purchase Furnitures</a><img src="//ir-in.amazon-adsystem.com/e/ir?t=8926684406-21&l=ur2&o=31" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            </div>
            <div class="col-md-3">
              <a target="_blank" href="https://www.amazon.in/gp/search?ie=UTF8&tag=8926684406-21&linkCode=ur2&linkId=bef7b6150c9edc97539e03691857e17c&camp=3638&creative=24630&index=toys&keywords=toys" class="btn btn-lg btn-secondary btn-block">Purchase Toys & Game</a><img src="//ir-in.amazon-adsystem.com/e/ir?t=8926684406-21&l=ur2&o=31" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

            </div>
          </div>
           <hr/>
       </div>

       <div class="col-lg-10">
         
          
          <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="https://amzn.to/3hiAe5X"><img class="card-img-top" src="{% static 'affiliate/images/t1.jpg' %}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="https://amzn.to/3hiAe5X">Fitkit FT98 carbon 1.25HP</a>
                  </h4>
                  <p class="card-text">Fitkit FT98 carbon 1.25HP (2HP Peak) Motorized Treadmill With Free at Home Installation Assistance and Free Diet & Fitness Plan</p>
                  <a href="https://amzn.to/3hiAe5X" class="btn btn-secondary">₹16,499.00</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="https://amzn.to/2ZhjPbA"><img class="card-img-top" src="{% static 'affiliate/images/t2.jpg' %}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="https://amzn.to/2ZhjPbA">Dell Latitude 3500</a>
                  </h4>
                  <p class="card-text">Dell Latitude 3500 / i3-8145u / 4GB / 1TB / 15.6 inch HD ( 1366 x 768 ) / 1.98 KG / Ubuntu / 1 Year ADP</p>
                  <a href="https://amzn.to/2ZhjPbA" class="btn btn-secondary">₹36,200.00</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="https://amzn.to/2Fju8Vf"><img class="card-img-top" src="{% static 'affiliate/images/t3.jpg' %}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="https://amzn.to/2Fju8Vf">Lifelong FitPro LLTM09</a>
                  </h4>
                  <p class="card-text">Lifelong FitPro LLTM09 (2.5 HP Peak) Motorized Treadmill for Home with 12 preset Workouts, Max Speed 10km/hr. (Free Installation Assistance)</p>
                  <a href="https://amzn.to/2Fju8Vf" class="btn btn-secondary">₹17,499.00</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="https://amzn.to/3hbHsZg"><img class="card-img-top" src="{% static 'affiliate/images/t4.jpg' %}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="https://amzn.to/3hbHsZg">Mi Notebook 14 Intel Core i5</a>
                  </h4>
                  <p class="card-text">Mi Notebook 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Intel UHD Graphics/Silver/1.5Kg), XMA1901-FA+Webcam</p>
                  <a href="https://amzn.to/3hbHsZg" class="btn btn-secondary">₹46,999.00</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="https://amzn.to/3idpPtd"><img class="card-img-top" src="{% static 'affiliate/images/t6.jpg' %}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="https://amzn.to/3idpPtd">OPPO A5 2020</a>
                  </h4>
                  <p class="card-text">OPPO A5 2020 (Dazzling White, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers</p>
                  <a href="https://amzn.to/3idpPtd" class="btn btn-secondary">₹11,990.00</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="https://amzn.to/35joIom"><img class="card-img-top" src="{% static 'affiliate/images/t5.jpg' %}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="https://amzn.to/35joIom">Nokia 5.3 Android</a>
                  </h4>
                  <p class="card-text">Nokia 5.3 Android One Smartphone with Quad Camera, 4 GB RAM and 64 GB Storage - Charcoal</p>
                  <a href="https://amzn.to/35joIom" class="btn btn-secondary">₹13,999.00</a>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="col-lg-2">
           <div class="row">
              
              <a class="a-link-normal" target="_blank" rel="noopener noopener" href="https://www.amazon.in/l/17533702031?_encoding=UTF8&amp;linkCode=ib1&amp;tag=8926684406-21&amp;linkId=amzn1.curatedcontent.A21TJRUUN4KGV.5e993c1c-18e4-419c-9359-5acc8332c6bb_1599821990423&amp;ref_=ihub_curatedcontent_5e993c1c-18e4-419c-9359-5acc8332c6bb"><img alt="" src="https://m.media-amazon.com/images/G/31/img20/OP/SFH/D15593517_IN_OP_BTS_Mar20_670x645.jpg" class="r-rp-content-card-image" style="max-width: 160px;"></a>
          </div>

          <div class="row" style="padding-top: 10px;">
            <a class="a-link-normal" target="_blank" rel="noopener noopener" href="https://www.amazon.in/b?node=14141215031&amp;_encoding=UTF8&amp;linkCode=ib1&amp;tag=8926684406-21&amp;linkId=amzn1.curatedcontent.A21TJRUUN4KGV.7344e612-69c4-4f75-b6e3-5827a2452638_1599821784682&amp;ref_=ihub_curatedcontent_7344e612-69c4-4f75-b6e3-5827a2452638"><img alt="" src="https://m.media-amazon.com/images/G/31/img19/INKC/ONSITE/300x300_deals.jpg" class="r-rp-content-card-image" style="max-width: 160px;"></a>
          </div>

          <div class="row" style="padding-top: 10px;">
             <script type="text/javascript" language="javascript">
                var aax_size='160x600';
                var aax_pubname = '8926684406-21';
                var aax_src='302';
              </script>
              <script type="text/javascript" language="javascript" src="https://c.amazon-adsystem.com/aax2/assoc.js"></script>
          </div>
         

        </div>
    </div>
    
    <!-- Call to Action Section -->
  
    
    <!-- /.row -->
    <br/>
    <hr/>
    <br/>
    <!-- Features Section -->
    <h2 class="my-3">Search here & purchase from amazon.in</h2>
    <div class="row">
      <div class="col-lg-6" style="height: 350px;">
      		<script type="text/javascript">amzn_assoc_ad_type ="responsive_search_widget"; amzn_assoc_tracking_id ="8926684406-21"; amzn_assoc_marketplace ="amazon"; amzn_assoc_region ="IN"; amzn_assoc_placement =""; amzn_assoc_search_type = "search_widget";amzn_assoc_width ="auto"; amzn_assoc_height ="auto"; amzn_assoc_default_search_category =""; amzn_assoc_default_search_key ="Mobile";amzn_assoc_theme ="light"; amzn_assoc_bg_color ="FFFFFF"; </script><script src="//z-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&Marketplace=IN"></script>
      </div>
      <div class="col-lg-6" style="height: 350px;">
       <script type="text/javascript">amzn_assoc_ad_type ="responsive_search_widget"; amzn_assoc_tracking_id ="8926684406-21"; amzn_assoc_marketplace ="amazon"; amzn_assoc_region ="IN"; amzn_assoc_placement =""; amzn_assoc_search_type = "search_widget";amzn_assoc_width ="auto"; amzn_assoc_height ="auto"; amzn_assoc_default_search_category =""; amzn_assoc_default_search_key ="laptop";amzn_assoc_theme ="light"; amzn_assoc_bg_color ="FFFFFF"; </script><script src="//z-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&Marketplace=IN"></script>
      </div>
    </div>
    <!-- /.row -->	

  </div>
  <!-- /.container -->
  <br/>
  <br/>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Liban Software 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
